<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student list</title>
</head>
<body>

    <header>
        <nav>
            <a href="#">Home</a>
            <a href="{% url 'new-student' %}">New Student</a>
        </nav>        
    </header>

    <h1>List of students</h1>

    <ul>
        {% for student in students %}
        <li>{{ student }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>